* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: #332f2f;
}

body {
  background-color: #3b3f48;
  padding: 5%;
  margin: 10%;
  border: solid 5px rgba(0, 0, 0, 0.2);
  min-height: 50vh;
}

h1 {
  color: white;
}

header a, li, p {
  list-style: none;
  text-decoration: none;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav li {
  text-align: right;
}

header nav li p {
  display: inline;
}

header nav li:first-child {
  margin-right: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header p {
  margin: 1rem 0 1rem 0;
}

input {
  margin: 5% 5% 5% 0;
  height: 2rem;
  width: 65%;
  padding-left: 1%;
  border-radius: 5px;
  border: none;
}

button {
  height: 2rem;
  width: 28%;
  background-color: skyblue;
  border: none;
  border-radius: 5px;
  color: white;
}

.trash, .check {
  font-size: 1.5rem;
  opacity: 25%;
}

.trash {
  margin-right: 0.5rem;
}

.check {
  margin-left: 0.5rem;
}

.incompleteTasks, .completeTasks {
  overflow: hidden;
}

.incompleteTasks div div, .completeTasks div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.incompleteTasks input, .completeTasks input {
  width: 90%;
  padding: 0 0 0 1rem;
  margin: 0 1rem 0 1rem;
  background-color: #3b3f48;
  color: white;
  font-size: inherit;
}

.barra {
  border: solid 1px black;
  width: 100%;
  margin: 1rem 0 1rem 0;
  opacity: 25%;
  background-color: black;
}

.completeTasks {
  display: none;
}

.complete {
  color: gray;
  opacity: 50%;
}

@-webkit-keyframes trasladar {
  from {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes trasladar {
  from {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  to {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

.task {
  -webkit-animation-name: trasladar;
          animation-name: trasladar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes retirar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes retirar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.trasladar {
  -webkit-animation-name: trasladar;
          animation-name: trasladar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.retirar {
  -webkit-animation-name: retirar;
          animation-name: retirar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@media (min-width: 746px) {
  .trash, .check {
    -webkit-transition: 1s;
    transition: 1s;
  }
  .trash:hover, .check:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .trash {
    -webkit-transition: 1s;
    transition: 1s;
  }
  .trash:hover {
    color: red;
  }
  .check {
    -webkit-transition: 1s;
    transition: 1s;
  }
  .check:hover {
    color: green;
  }
}

@media (max-width: 746px) {
  html {
    font-size: 12px;
  }
  button, input {
    font-size: inherit;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  button {
    margin: 0;
  }
  body {
    width: 90%;
    margin: 5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
/*# sourceMappingURL=main.css.map */